<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      layout:decorator="Template"
>
<head>
    <meta charset="utf-8">
    <title>Form patients</title>
</head>
<body>

<div layout:fragment="pageContent">
    <div class="col-md-4 mt-4">
        <div class="card mt-4">
            <div class=card-header>
                Ajouter un patient
            </div>
            <div class="card-body">
                <form th:action="@{savePatient}" method="post">
                    <div class="form-group">
                        <label class="control-label">nom</label>
                        <input type="text" name="nom" class="form-control" th:value="${patient.nom}">
                        <span th:errors="${patient.nom}" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">dateNaissance</label>
                        <input type="date" name="dateNaissance" class="form-control" th:value="${patient.dateNaissance}">
                        <span th:errors="${patient.dateNaissance}" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">score</label>
                        <input type="text" name="score" class="form-control" th:value="${patient.score}">
                        <span th:errors="${patient.score}" class="text-danger"></span>
                    </div>

                    <div class="form-check mb-4">
                        <input id="flexCheckChecked" type="checkbox" name="malade" class="form-check-input"
                               th:checked="${patient.malade}">
                        <label class="form-check-label" for="flexCheckChecked">malade</label>
                        <span th:errors="${patient.malade}" class="text-danger"></span>
                    </div>

                    <button class="btn btn-success" type="submit">Save</button>
                </form>
            </div>
    </div>
</div>


</body>
</html>
